<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
 

    <title>OGABE|頁面禁止</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/dist/css/carousel.css" rel="stylesheet" />
    <link href="/dist/css/my.css" rel="stylesheet" />
    <link href="/cheatsheet.css" rel="stylesheet" />
    <link href="/dist/css/guideline.css" rel="stylesheet" />
    <!-- <style>
        .register_title{
            margin:0 auto;
            align-items:center;
            justify-content:center;
        }
    </style> -->
  </head>

  <body>
	<!-- header -->
		<div th:insert="/header"></div>
    <main>
    <br>
    <div class="text-center mt-1">
        <h1>OGABE頁面禁止</h1>
    </div>
    
    <div class="row p-5" style="background-color: #EAE0DA;">
        <div class="col"></div>
        <div class="col">
  		      
        <h3 class="text-black">很抱歉, 你沒有資格進入此頁面!</h3>
        <a href="/">回首頁</a>

 
        </div>
        <div class="col"></div>
        </div>



    </main>
    <!-- footer -->
			<div th:insert="/footer"></div>
    <script src="dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
