<!doctype html>
<html lang="en">
<head>
<title>OGABE|後台論壇資料管理</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
	rel="stylesheet">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet" href="/sidebar-01/css/style.css">
</head>
<body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
          <img src="/sidebar-01/images/ogabecolor21.png" alt="" width="210" height="120">
		  		
	        <ul class="list-unstyled components mb-5">
            <li>
                <a href="admin/user/userlist/1"> <i class="fa-solid fa-house-user fa-lg"></i>會員管理</a>
            </li>
	          <li>
	              <a href="#">餐廳後台管理</a>
	          </li>
	          <li>
	              <a href="#">商城後台管理</a>
	          </li>
	          <li>
	              <a href="/forumBackStage">論壇後台管理</a>
	          </li>
	          <li>
	              <a href="#">客服後台管理</a>
	          </li>
	          <li class="nav-item">
	          <div style="margin-top:40px">
                <a
                  class="btn btn-danger btn-sg"
                  href="/user/logout"
                  >登出</a
                >
                </div>
              </li>
	        </ul>

	        <div class="footer">
            
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-3 p-md-4">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <h2>OGABE論壇後台管理</h2>
              </ul>
            </div>
          </div>
        </nav>
<!--         從92行自定義內容 地91行div結尾標籤在第200行 -->
        <div class="container pb-1">
          <div style="display:flex;flex-wrap:wrap;">
  <div class="card" style="width: 21rem;">
  <img src="/images/coffeesohp2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">文章檢舉列表</h5>
    <p class="card-text">請務必確認檢舉詳細原因是否與事實相符</p>
    <a th:href="@{/reportBackstage}" class="btn btn-primary">查看</a>
  </div>
</div>
  <div class="card" style="width:21rem;margin-left: 20px">
  <img src="/images/coffeesohp6dark.jpg" class="card-img-top" height="265px" alt="...">
  <div class="card-body">
    <h5 class="card-title">文章人氣</h5>
    <P class="card-text">人氣文章前五名</P>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
 查看
</button>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">人氣文章</h5>
      </div>
      <div class="modal-body" style="text-align:center;justify-content:space-between;">
		<table class="table table-bordered table-striped table-hover" >
			<thead>
					<th>排序</th>
					<th>文章編號</th>
					<th>文章標題</th>
					<th>按讚數</th>	
					<th></th>
			</thead>
			<tbody>
				<tr th:each="l,iterStat:${list}">
					<td th:text="${iterStat.count}"></td>
					<td >
         			 <a th:href="@{/read/{id}(id=${l.articleid})}" th:text="${l.articleid}" style="text-decoration:none;color:black"></a></td>
					<td th:text="${l.articletitle}" ></td>
					<td th:text="${l.likecount}" th:style="${iterStat.count==1 ? 'color: red;' : iterStat.count==2 ? 'color: orange;' : iterStat.count==3 ? 'color: blue;' :''}"
></td>				
					</td>
					<td><button class="btn btn-outline-secondary" id="recommend">
         			 <a th:href="@{/recommend/{id}(id=${l.articleid})}" style="text-decoration: none;">推薦</a>
          			</button>
          			</button>
          			</td>
				</tr>
			</tbody>
		</table>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  <div class="card" style="width:21rem;margin-left: 20px">
  <img src="/images/coffeesohp5.jpg" class="card-img-top" height="265px" alt="...">
  <div class="card-body">
    <h5 class="card-title">文章瀏覽次數</h5>
    <P class="card-text">查看文章瀏覽數</P>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong1">
 查看
</button>
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">高瀏覽文章</h5>
      </div>
      <div class="modal-body" style="text-align:center;justify-content:space-between;">
		<table class="table table-bordered table-striped table-hover" >
			<thead>
					<th>排序</th>
					<th>文章編號</th>
					<th>文章標題</th>
					<th>瀏覽數</th>	
					<th></th>
			</thead>
			<tbody>
				<tr th:each="v,iterStat:${views}">
					<td th:text="${iterStat.count}"></td>
					<td >
         			 <a th:href="@{/read/{id}(id=${v.articleid})}" th:text="${v.articleid}" style="text-decoration:none;color:black" id="id"></a></td>
					<td th:text="${v.articletitle}" ></td>
					<td th:text="${v.viewcount}" th:style="${iterStat.count==1 ? 'color: red;' : iterStat.count==2 ? 'color: orange;' : iterStat.count==3 ? 'color: blue;' :''}"
></td>				
					</td>
					<td><button class="btn btn-outline-secondary" id="recommend" >
         			 <a th:href="@{/recommend/{id}(id=${v.articleid})}" style="text-decoration: none;">推薦</a>
          			</button>
          			</button>
          			</td>
				</tr>
			</tbody>
		</table>
      </div>
      <di	v class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
        </div>
      </div>
	</div>

	<script th:inline="javascript">
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/726c532433.js"
		crossorigin="anonymous"></script>
	<script src="/sidebar-01/js/jquery.min.js"></script>
	<script src="/sidebar-01/js/popper.js"></script>
	<script src="/sidebar-01/js/bootstrap.min.js"></script>
	<script src="/sidebar-01/js/main.js"></script>
	

</body>
</html>