<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<a href="/login">登入</a><br>
<a href="/userpage">會員頁面(需先登入過)</a><br>
<a href="/register">會員註冊</a><br>
<a href="/admin/userlist">會員後台列表(需先登入且具有管理員身份)</a><br>
<a href="/forum">文章頁面</a><br>
<a href="/products/mallProduct">商品頁面</a><br>
<a href="/products/beans">商城首頁</a><br>
<a href="/products/show-bean">商城首頁</a><br>
<a href="/products/cart">商城購物車</a><br>
<a href="/products/cart/add">商城購物車新增商品</a><br>
<a href="/products/admin/products/add">商城後台新增商品</a><br>
<a href="/products/admin/products/edit">商城後台編輯商品</a><br>
<a href="/products/admin/products/delete">商城後台移除商品</a><br>



</body>
</html>