<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
 

    <title>OGABE|忘記密碼</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/dist/css/carousel.css" rel="stylesheet" />
    <link href="/dist/css/my.css" rel="stylesheet" />
    <link href="/cheatsheet.css" rel="stylesheet" />
    <link href="/dist/css/guideline.css" rel="stylesheet" />
    <!-- <style>
        .register_title{
            margin:0 auto;
            align-items:center;
            justify-content:center;
        }
    </style> -->
  </head>

  <body>
	<!-- header -->
		<div th:insert="/header"></div>
    <main>
    <br>
    <div class="text-center mt-1">
        <h1>忘記密碼</h1>
    </div>
    

    
    <div class="row p-5" style="background-color: #EAE0DA;">
        <div class="col"></div>
        <div class="col">
		 	<div th:if="${error!=null}">
		    	<p class="text-danger">[[${error}]]</p>
		    </div>
		    <div th:if="${message!=null}">
		    	<p class="text-danger">[[${message}]]</p>
		    </div>
        <form th:action="@{/forgetpassword}" method="post" name="forgetpassword-form">
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">我們將會寄送修改密碼的驗證信到您的信箱</label><br>
              <br>
              <input type="email" class="form-control" name="useremail" id="UserEmail1" placeholder="請輸入Email(此會員帳號)" required>
            </div><br>
            
            
            
            <button type="submit" class="btn btn-primary col-sm-5 ">送出</button>
            
        </form><br>
        </div>
        <div class="col"></div>
        </div>



    </main>
    <!-- footer -->
			<div th:insert="/footer"></div>
			
    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script>
    	
    </script>
  </body>
</html>