<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
 

    <title>OGABE|忘記密碼重設</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/dist/css/carousel.css" rel="stylesheet" />
    <link href="/dist/css/my.css" rel="stylesheet" />
    <link href="/cheatsheet.css" rel="stylesheet" />
    <link href="/dist/css/guideline.css" rel="stylesheet" />
    <!-- <style>
        .register_title{
            margin:0 auto;
            align-items:center;
            justify-content:center;
        }
    </style> -->
  </head>

  <body>
   <!-- header -->
  <div th:insert="/header"></div>
   <!-- header -->
    <main>
    <br>
    <div class="text-center mt-1">
        <h1>重設密碼</h1>
    </div>
    

    
    <div class="row p-5" style="background-color: #EAE0DA;">
        <div class="col"></div>
        <div class="col">
<!--             <div th:if="${msg!=null}"> -->
<!-- 		    	<p class="text-danger">[[${msg}]]</p> -->
<!-- 		    </div> -->
              
      
        <form th:action="@{/resetPassword}" method="post" name="resetpassword-form">
        	<input type="hidden" class="form-control" th:value="${token}" name="token">
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">會員密碼重設</label><br>
              <br>
              <input type="password" class="form-control" id="UserPassword1" placeholder="請輸入新密碼 (密碼長度不得低於6)" name="userpwd" pattern="[a-zA-Z0-9]{6,}" required oninput="checkpassword()">
            </div><br>
             <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">密碼確認</label><br>
              <br>
              <input type="password" class="form-control" id="UserPassword2" placeholder="請再次輸入密碼" name="userpwdconfirm"  required oninput="checkpassword()">
            </div><br>
 
            <button type="submit" class="btn btn-primary col-sm-5 ">送出</button>
            
        </form><br>
        </div>
        <div class="col"></div>
        </div>



    </main>

    <!-- footer -->
			<div th:insert="/footer"></div>
	<!-- footer -->		
    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script>
	  	let userpassword1check = document.querySelector("#UserPassword1");
	    userpassword1check.addEventListener("blur", function(){
	      let s = this.validity;
	      let msg = "";
	      switch (true) {
	          case s.patternMismatch:
	              msg = "密碼長度不得低於6";
	          break;
	      }
	      this.setCustomValidity(msg);
	    })
	
	    let userpassword2check = document.querySelector("#UserPassword2");
    
    	
	    function checkpassword() {
	
	        if (userpassword1check.value != userpassword2check.value) {
	          userpassword2check.setCustomValidity('密碼不一致，請確認!!');
	      } else {
	          // input is valid -- reset the error message
	          userpassword2check.setCustomValidity('');
	      }}
    </script>
  </body>
</html>