<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
 

    <title>OGABE|會員登入</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/dist/css/carousel.css" rel="stylesheet" />
    <link href="/dist/css/my.css" rel="stylesheet" />
    <link href="/cheatsheet.css" rel="stylesheet" />
    <link href="/dist/css/guideline.css" rel="stylesheet" />
    <!-- <style>
        .register_title{
            margin:0 auto;
            align-items:center;
            justify-content:center;
        }
    </style> -->
  </head>

  <body>

	<!-- header -->
		<div th:insert="/header"></div>
	<!-- header -->
    <main>
    <br>
    <div class="text-center mt-1">
        <h1>會員登入</h1>
    </div>
    
    <div class="row p-5" style="background-color: #EAE0DA;">
        <div class="col"></div>
        <div class="col">
        <form th:action="@{/perfomlogin}" method="post" name="login-form">
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">帳號</label>
              <input type="email" class="form-control" name="useremail" id="UserEmail1" placeholder="請輸入Email"  required>
            </div><br>
            <div class="form-group col-sm-12">
              <label for="exampleInputPassword1">密碼</label>
              <input type="password" class="form-control" name="userpassword" id="UserPassword1" placeholder="請輸入密碼">
            </div><br>
            
            
            
            <button type="submit" class="btn btn-primary col-sm-5 ">登入</button>
            
        </form><br>

        <div>還沒有會員? <a href="register">我要註冊</a></div>
        <div><a href="forgetpassword">忘記密碼</a></div>
        </div>
        <div class="col"></div>
        </div>



    </main>
    <!-- footer -->
			<div th:insert="/footer"></div>
	<!-- footer -->
    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script>
    	const params = new URLSearchParams(window.location.search)
    	if (params.get('error')=="true"){
    		alert("登入失敗!!!"+"\n"+"請確認帳號密碼")
    	}else if(params.get('resetpassword')=="success"){
    		alert("密碼重設成功，請使用新密碼登入!!")
    	}else if(params.get("register")=="success"){
    		alert("註冊成功，請去信箱點擊驗證信成為正式會員!!")
    	}else if(params.get("verify")=="success"){
    		alert("會員驗證成功，恭喜成為正式會員!!")
    	}else if(params.get("verify")=="fail"){
    		alert("驗證失敗，請去登入頁面點擊重發驗證信!!")
    	}else if(params.get("resetpassword")=="fail"){
    		alert("已更改過密碼，若還需重設密碼請重新進行忘記密碼流程!!")
    	}
    	
    </script>
  </body>
</html>
