<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>OGABE|會員註冊</title>
  <link href="dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="dist/css/carousel.css" rel="stylesheet" />
  <link href="dist/css/my.css" rel="stylesheet" />
  <link href="cheatsheet.css" rel="stylesheet" />
  <link href="dist/css/guideline.css" rel="stylesheet" />
</head>
<body>
	<!-- header -->
  <div th:insert="/header"></div>
  <main>
    <br>
    <div class="text-center mt-1">
      <h1>會員註冊</h1>
    </div>
    
    

    <div class="row p-3" style="background-color: #EAE0DA;">
      <div class="col"></div>
      <div class="col">
        <form th:action="@{/register}"  method="post" name="registerform">
          <div class="form-group col-sm-12">
          <i class="fa-solid fa-envelope fa-lg" ></i>
          <label for="exampleInputEmail1">帳號</label>
          	  
            
            <input type="email" th:if="${usermodel!=null}" th:value="${usermodel.useremail}" class="form-control" id="UserEmail1" placeholder="請輸入Email" name="useremail" required>
        	<input type="email" th:if="${usermodel==null}" class="form-control" id="UserEmail1" placeholder="請輸入Email" name="useremail" required>
          </div><br>
          <div class="form-group col-sm-12">
          <i class="fa-solid fa-key fa-lg"></i>
            <label for="exampleInputPassword1">密碼</label>
            <input type="password" class="form-control" id="UserPassword1" placeholder="請輸入密碼 (密碼長度不得低於6)" name="userpwd" pattern="[a-zA-Z0-9]{6,}" required oninput="checkpassword()">
          </div><br>
          <div class="form-group col-sm-12">
          	<i class="fa-solid fa-key fa-lg"></i>
            <label for="exampleInputPassword1">密碼確認</label>
            <input type="password" class="form-control" id="UserPassword2" placeholder="請再次輸入密碼" name="userpwdconfirm"  required oninput="checkpassword()">
          </div><br>
          <div class="form-group col-sm-12">
          	<i class="fa-solid fa-user fa-lg"></i>
            <label for="exampleInputPassword1">會員姓名</label>
            <input type="text" th:if="${usermodel!=null}" th:value="${usermodel.username}"  class="form-control" id="UserName" placeholder="請輸入姓名" name="username" required>
            <input type="text" th:if="${usermodel==null}" class="form-control" id="UserName" placeholder="請輸入姓名" name="username" required>
          </div><br>
          <div class="form-group col-sm-12">
          	<i class="fa-solid fa-user-tag fa-lg"></i>
            <label for="exampleInputPassword1">會員暱稱</label>
            <input type="text"  th:if="${usermodel!=null}" th:value="${usermodel.usernickname}"   class="form-control" id="UserNickname" placeholder="請輸入暱稱" name="usernickname">
            <input type="text"  th:if="${usermodel==null}" class="form-control" id="UserNickname" placeholder="請輸入暱稱" name="usernickname">          
          </div><br>
          <div class="form-group col-sm-12">
          	<i class="fa-solid fa-location-dot fa-lg"></i>
            <label for="exampleInputPassword1">會員地址</label>
            <input type="text" th:if="${usermodel!=null}" th:value="${usermodel.useraddress}"   class="form-control" id="UserAddress" placeholder="請輸入地址" name="useraddress" required>
            <input type="text" th:if="${usermodel==null}"  class="form-control" id="UserAddress" placeholder="請輸入地址" name="useraddress" required>        
          </div><br>
          <div class="form-group col-sm-12">
          	<i class="fa-solid fa-phone fa-lg"></i>
            <label for="exampleInputPassword1">會員電話</label>
            <input type="text" th:if="${usermodel!=null}" th:value="${usermodel.usertel}"  class="form-control" id="UserMobile" placeholder="請輸入電話" name="usertel" required pattern="[0-9]{9,}">
            <input type="text" th:if="${usermodel==null}"  class="form-control" id="UserMobile" placeholder="請輸入電話" name="usertel" required pattern="[0-9]{9,}">         
          </div><br>

          <button type="submit" class="btn btn-primary col-sm-5 ">送出</button>

        </form>
      </div>
      <div class="col"></div>

    </div>



  </main>
    <!-- footer -->
			<div th:insert="/footer"></div>
  <script src="dist/js/bootstrap.bundle.min.js"></script>
  <script>
  	let userpassword1check = document.querySelector("#UserPassword1");
    userpassword1check.addEventListener("blur", function(){
      let s = this.validity;
      let msg = "";
      switch (true) {
          case s.patternMismatch:
              msg = "密碼長度不得低於8";
          break;
      }
      this.setCustomValidity(msg);
    })

    let userpassword2check = document.querySelector("#UserPassword2");


    function checkpassword() {

      if (userpassword1check.value != userpassword2check.value) {
        userpassword2check.setCustomValidity('密碼不一致，請確認!!');
    } else {
        // input is valid -- reset the error message
        userpassword2check.setCustomValidity('');
    }}
    
    
    let usermobilecheck = document.querySelector("#UserMobile");
    usermobilecheck.addEventListener("blur", function(){
      let s = this.validity;
      let msg = "";
      switch (true) {
          case s.patternMismatch:
              msg = "電話應為0-9的數字且長度不得低於9";
          break;
      }
      this.setCustomValidity(msg);
    })
    
  	  const params = new URLSearchParams(window.location.search)
    	if (params.get('user')=="exist"){
    		alert("信箱已被註冊!!!"+"\n"+"請填寫新的信箱~")
    	}
  </script>
  
  <script th:inline="javascript">
    if (/*[[${usermodel}]]*/[]!=null){
    	alert("信箱已被註冊!!!"+"\n"+"請填寫新的信箱~");
    }    

  </script>

  
  <script src="https://kit.fontawesome.com/726c532433.js" crossorigin="anonymous"></script>
</body>
</html>